<div class="featurearticle">
    <div class="container">
        <div class="row">
            <a href="#" class="photo-btn">
                Photography
            </a>
            <h1 class="big-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </h1>
            <div class="author">
                <i class="face"></i>
                <span class="text">
                    Blaz Robar, god like web designer
                </span>
            </div>
        </div>
    </div>
</div>