<header class="header">
    <div class="container">
        <div class="row">
            <div class="nav-bar">
                <a href="#" class="logo">
                    <i class="logo1"></i>
                    <i class="logo2"></i>
                </a>
                <nav class="nav">
                    <a href="#" class="nav__item">About</a>
                    <a href="#" class="nav__item">How It Works</a>
                    <a href="#" class="nav__item">Services</a>
                    <a href="#" class="nav__item">FAQ</a>
                    <a href="#" class="nav__item">Contact</a>
                </nav>
                <form action="" class="search-form">
                    <input type="text" placeholder="Search Website" class="search-bar">
                    <a href="#" class="search"></a>
                </form>
            </div>
        </div>
        <h1 class="big-text">
            Designs your eyeballs 
            will thank you for
        </h1>
        <div class="button-box">
            <a href="#" class="start-btn">
                Get Started Today
            </a>
            <span class="lil-text">
                Lorem ipsum dolor sit amet consectetur.
            </span>
        </div>
    </div>
</header>